IntViewController/src/com/televisa/comer/integration/resources/xsd/intputTargetsParameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://com/televisa/comer/integration/service/beans/targets" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="http://com/televisa/comer/integration/service/beans/targets"
            attributeFormDefault="qualified"
            elementFormDefault="qualified"
            >
   <xsd:complexType name="TargetsResponse">
      <xsd:sequence>
         <xsd:element name="IdRequestTargetsRes" type="xsd:string" minOccurs="1"/>   
         <xsd:element name="IdService" type="xsd:string" minOccurs="1"/>
         <xsd:element name="UserName" type="xsd:string" minOccurs="1"/>         
         <xsd:element name="IdUser" type="xsd:string" minOccurs="1"/>
         <xsd:element name="XmlMessageResponse" type="ns0:XmlMessageResponseCollection"/>
         <xsd:element name="Error" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="TargetsInputParameters">
      <xsd:sequence>
         <xsd:element name="IdRequestTargetsReq" type="xsd:string" minOccurs="1"/>
         <xsd:element name="ParametersList" type="ns0:ParametersCollection"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="ParametersCollection">
      <xsd:sequence>
         <xsd:element name="ParameterMap" type="ns0:ParameterMap" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="ParameterMap">
      <xsd:sequence>
         <xsd:element name="ParameterName" type="xsd:string" minOccurs="1"/>
         <xsd:element name="ParameterValue" type="xsd:string" minOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="XmlMessageResponseCollection">
      <xsd:sequence>
         <xsd:element name="XmlMessageReqRes" type="ns0:XmlMessageReqRes" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="XmlMessageReqRes">
      <xsd:sequence>
         <xsd:element name="XmlMessageRequest" type="xsd:string" minOccurs="0"/>
         <xsd:element name="XmlMessageResponse" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
      
</xsd:schema>
