IntViewController/src/com/televisa/comer/integration/ws/resources/intputVtaTradicional.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://com/televisa/comer/integration/ws/beans/pgm/vtradicional" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="http://com/televisa/comer/integration/ws/beans/pgm/vtradicional"
            attributeFormDefault="qualified"
            elementFormDefault="qualified"
            >
   <xsd:complexType name="ScheduleOnDemand">
      <xsd:sequence>
         <xsd:element name="InitialDate" type="xsd:string" minOccurs="0"/>
         <xsd:element name="EndDate" type="xsd:string" minOccurs="0"/>
         <xsd:element name="ChannelID" type="xsd:string" minOccurs="1"/>
         <xsd:element name="CodeTrace" type="xsd:string" minOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="RecibirDatosExternosResponse">
      <xsd:sequence>
         <xsd:element name="RecibirDatosExternosResult" type="ns0:RecibirDatosExternosResult" minOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="RecibirDatosExternosResult">
      <xsd:sequence>
         <xsd:element name="CodRespuesta" type="ns0:CodRespuesta" minOccurs="1"/>         
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="CodRespuesta">
      <xsd:sequence>
         <xsd:element name="ItemCabecera" type="ns0:ItemCabecera" maxOccurs="unbounded"/>         
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="ItemCabecera">
      <xsd:sequence>
         <xsd:element name="ProcessID" type="xsd:string" minOccurs="1"/>         
         <xsd:element name="Resultado" type="xsd:string" minOccurs="1"/>         
         <xsd:element name="TipoProceso" type="xsd:string" minOccurs="1"/>         
         <xsd:element name="ItemRespuesta" type="ns0:ItemRespuesta" maxOccurs="unbounded"/>         
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="ItemRespuesta">
      <xsd:sequence>
         <xsd:element name="Elemento" type="xsd:string" minOccurs="1"/>         
         <xsd:element name="IdElemento" type="xsd:string" minOccurs="1"/>         
         <xsd:element name="Resultado" type="xsd:string" minOccurs="1"/>         
         <xsd:element name="ListaMensaje" type="ns0:ListaMensaje" maxOccurs="unbounded"/>         
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="ListaMensaje">
      <xsd:sequence>
         <xsd:element name="IdError" type="xsd:string" minOccurs="1"/>         
         <xsd:element name="Descripcion" type="xsd:string" minOccurs="1"/>           
      </xsd:sequence>
   </xsd:complexType>
   
</xsd:schema>
